@inject IRequestService _service
@page "/battle"

<h3 class="text-center">Battle</h3>

@if (CompetitorOne is null || CompetitorTwo is null)
{
    <p>loading</p>
}
<div class="row">
    <div class="column" style="float:left">
        <div style="float:left">

             <BattleHamster Competitor="@CompetitorOne" />
            
        </div>
    </div>
    <div class=" column justify-content-center text-center">
        <div class="vertical-center">
            @*<button type="button" class="btn btn-primary" onfocus="location.reload()">Next battle</button>*@
        </div>
    </div>
    <div class="column" style="float: right">
        <div style="float: right;">

            <BattleHamster Competitor="@CompetitorTwo" />

        </div>
    </div>

</div>


@code {
    public Hamster? CompetitorOne { get; set; }
    public Hamster? CompetitorTwo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CompetitorOne = await _service.GetRandomHamsterAsync();
        CompetitorTwo = await _service.GetRandomHamsterAsync();
        while (CompetitorOne.Id == CompetitorTwo.Id)
        {
            CompetitorTwo = await _service.GetRandomHamsterAsync();
        }
    }
}
