
@inject IRequestService _service
@inject NavigationManager _nav
@page "/gallery"



<h3>HamsterGallery</h3>
<h4>Our Hamsters</h4>
@if (Hamsters is null)
{
   <RadzenCard>
        <h4 class="mb-4">Loading</h4>
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </RadzenCard>
}
else
{
     <button @onclick="@(()=>_nav.NavigateTo("/addHamster"))" type="button" class="btn btn-primary">Add Hamster</button>
    <div class="row">
        @foreach (var hamster in Hamsters)
        {
            <HamsterCard hamster="hamster" />
        }
    </div>
}

@code {

    private IEnumerable<Hamster> Hamsters { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Hamsters = await _service.GetAllHamstersAsync();
    }
}
