@page "/statistic"
@inject IRequestService _service

@if (HamstersTopWinners is null|| HamstersTopLosers is null)
{
     <RadzenCard>
        <h4 class="mb-4">Loading</h4>
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </RadzenCard>
}
else
{


    <div class="row">

        <StatisticCard Header="Top Winner" hamsters="@HamstersTopWinners"></StatisticCard>

        <StatisticCard Header="Top Loser" hamsters="@HamstersTopLosers"></StatisticCard>

    </div>
}

@code {

    public IEnumerable<Hamster>? HamstersTopWinners { get; set; }
    public IEnumerable<Hamster>? HamstersTopLosers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        HamstersTopWinners = await _service.GetWinnersAsync();
        HamstersTopLosers = await _service.GetLosersAsync();
    }
    
    }
