@page "/statistic"

<h3>Statistic</h3>

@code {
    public IEnumerable<Hamster> HamstersTopWinners{ get; set; }
    public IEnumerable<Hamster> HamstersTopLosers{ get; set; }

    //protected override async Task OnInitializedAsync()
    //{
    //    Hamsters = await _
    //}
}
