@inject IRequestService _service

<a @onclick="() => Voted(Competitor,Opponent)" href=""><img class="img-thumbnail" src="/Content/@Competitor.ImgName"></a>
@if (Competitor is null)
{
    <p>loading</p>
}
else
{
    <div class="infoBox">

        <h1 class="text-left">@Competitor.Name</h1> @*TODO: får felmeddelande att den är null? *@
        <p class="text-left">Age:&nbsp;@Competitor.Age</p>
        <p class="text-left">Favorite food:&nbsp;@Competitor.FavFood</p>
        <p class="text-left">Favorite activity:&nbsp;@Competitor.Loves</p>
    </div>

}



@code {
    [Parameter]
    public Hamster? Competitor { get; set; }
    [Parameter]
    public Hamster? Opponent { get; set; }

    public async Task Voted(Hamster Winner, Hamster Loser)
    {
        Winner.Wins++;
        Winner.Games++;
        await _service.VotedHamsterAsync(Winner.Id, Winner);
        Loser.Defeats++;
        Loser.Games++;
        await _service.VotedHamsterAsync(Loser.Id, Loser);

    }

}
