@inject IRequestService _service


<div class="column">

    <div class="polaroid ">
        <input type="image" @onclick="(() => Voted(Competitor, Opponent))" src="/Content/@Competitor.ImgName"  style="width:100%;">
        <div class="container">
            <h1>@Competitor.Name</h1>
            <h3>Age: @Competitor.Age</h3>
            <h3>Favorite activity: @Competitor.Loves</h3>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public Hamster? Competitor { get; set; }
    [Parameter]
    public Hamster? Opponent { get; set; }


    [Parameter]
    public EventCallback<bool> battleDone{ get; set; }
    [Parameter]
    public EventCallback<Hamster> HamsterWinner{ get; set; }

    public async Task Voted(Hamster Winner, Hamster Loser)
    {
        await _service.VotedHamsterAsync(Winner.Id, Winner, "winner");
        await _service.VotedHamsterAsync(Loser.Id, Loser, "loser");
        await _service.CreateMatchAsync(Winner.Id, Loser.Id);

       
        await battleDone.InvokeAsync();
        await HamsterWinner.InvokeAsync(Winner);
    }
    

}
