<style>
    img {
        border-radius: 50%;
    }
</style>

<div class="col-lg-6 mb-5">
    <div class="card h-100">
        <div class="card-header">
            <h4 class="label">@Heading</h4>
        </div>
        <div class="card-body">
            <Table Id="hoverableTable" Class="table-hover" Tooltip>
                <tr hidden>
                    <th style="width: 40px;" class="image"></th>
                    <th>Name</th>
                    <th>Wins</th>
                    <th>Games</th>
                </tr>
                @foreach (var data in Winners)
                {
                    <tr hidden>
                        <td class="image">
                            <div class="img">
                                <img style="width: 90px; height: 90px;" src="Content/@data.ImgName" />
                            </div>
                        </td>
                        <td>@data.Name</td>
                        <td>@data.Wins</td>
                        <td>@data.Games</td>
                    </tr>
                }
            </Table>
        </div>
    </div>
</div>
@code{
    [Parameter]
    public IEnumerable<Hamster> Winners{ get; set; }
    [Parameter]
    public string Heading { get; set; }
}


